// Mixin for assignment of function or var
mixin assignment(definition)
    div.assignment
        h2 #{definition.shortName}
        p
            span.line-number #{definition.line}

            span.description #{definition.description}

